<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard Header</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/b193e6d66d.js"></script>
    <link rel="stylesheet" th:href="@{'/css/app.css'}">
</head>
<body>
<div th:fragment="header-fragment">
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/" style="text-decoration: none; color: white">
            <img src="/images/logo.png" width="50" height="50" class="d-inline-block align-top" alt="LinkSharing">
            <h1 style="display: inline-block">Link Sharing</h1>
        </a>
        <div>
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <form th:action="@{/search}" method="get">
                        <div class="input-group mb-3">
                            <input name="query" id="search-bar" type="text" class="form-control" placeholder="Search" aria-label="search"
                                   aria-describedby="search-btn">
                            <div class="input-group-append">
                                <input type="submit" class="btn btn-primary" value="Search">
                            </div>
                        </div>
                    </form>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-toggle="modal" data-target="#commentModal">
                        <i class="fa fa-comment" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-toggle="modal" data-target="#inviteModal">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-toggle="modal" data-target="#linkModal">
                        <i class="fa fa-link" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-toggle="modal" data-target="#documentModal">
                        <i class="fa fa-file" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false" th:text="${userDTO.getFirstname()}">
                            <img th:if="${userDTO.getPhoto()}"
                                 th:src="${'images/' + userDTO.getUsername() + '_' + userDTO.getPhoto()}"
                                 alt="profile-picture" width="30px" height="30px">
                            <i th:unless="${userDTO.getPhoto()}" th:classappend="'fa fa-user-circle'"
                               aria-hidden="true"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" th:href="@{/users/editProfile}">Profile</a>
                            <a class="dropdown-item" th:if="${userDTO.getRole().getValue().equals('User')}" th:href="@{/users}">Users</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/logout">Logout</a>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
    </nav>

    <!----------------------Modals------------------------>

    <!-----------------------------------CREATE TOPIC------------------------------->

    <div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="commentModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="commentModalLabel">Create Topic</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form th:action="@{/topic/create}" action="#" th:object="${topicCO}" method="post">
                        <div class="form-group row">
                            <label for="topicName" class="col-sm-2 col-form-label">Name: </label>
                            <div class="col-sm-10">
                                <input class="form-control mr-md-2" th:field="*{name}" type="search" id="topicName"
                                       placeholder="Topic" autocomplete="off">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="visibility" class="col-sm-2 col-form-label">Visibility: </label>
                            <div class="col-sm-10">
                                <div class="input-group mb-3">
                                    <select class="custom-select" id="visibility" name="visibility"
                                            th:field="*{visibility}">
                                        <option th:each="visibilityItr : ${T(com.ttn.linksharing.enums.Visibility).values()}"
                                                th:value="${visibilityItr}"
                                                th:text="${visibilityItr.getValue()}"></option>
                                    </select>
                                </div>
                                <div th:if="${#fields.hasErrors()}" th:classappend="'alert alert-danger'"
                                     style="padding: 2px; font-size: 14px">
                                    <ul style="margin: 2px">
                                        <li th:errors="*{name}"></li>
                                        <li th:errors="*{visibility}"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div style="float: right">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <input type="submit" class="btn btn-primary" value="Create"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!------------------------------SEND INVITATION MODAL----------------------------->

    <div class="modal fade" id="inviteModal" tabindex="-1" role="dialog" aria-labelledby="inviteModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="inviteModalLabel">Send Invitation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form th:action="@{/invite}" action="#" th:object="${invitationCO}" method="post" autocomplete="off">
                        <div class="form-group row">
                            <label for="invite-email" class="col-sm-2 col-form-label">Email: </label>
                            <div class="col-md-1"></div>
                            <div class="col-sm-9">
                                <input th:field="*{email}" class="form-control mr-md-2" type="search" id="invite-email" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="topicsList" class="col-sm-2 col-form-label">Topic: </label>
                            <div class="col-sm-1"></div>
                            <div class="col-sm-9">
                                <select class="custom-select" id="topicsList" name="topicsList"
                                        th:field="*{topicId}">
                                    <option th:each="subs : ${userDTO.getSubscriptions()}"
                                            th:value="${subs.getId()}"
                                            th:text="${subs.getName()}"></option>
                                </select>
                            </div>
                        </div>
                        <div th:if="${#fields.hasErrors()}" th:classappend="'alert alert-danger p-2'" style="font-size: 14px">
                            <ul class="m-2">
                                <li th:errors="*{email}"></li>
                                <li th:errors="*{topicId}"></li>
                            </ul>
                        </div>
                        <hr>
                        <div class="float-right">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <input type="submit" class="btn btn-primary" value="Invite"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!------------------------------SHARE LINK MODAL------------------------------------>

    <div class="modal fade" id="linkModal" tabindex="-1" role="dialog" aria-labelledby="linkModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="linkModalLabel">Share Link</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form th:action="@{/resources/link/create}" action="#" th:object="${linkResourceCO}" method="post">
                        <div class="form-group row">
                            <label for="linkUrl" class="col-sm-2 col-form-label">Link: </label>
                            <div class="col-sm-1"></div>
                            <div class="col-sm-9">
                                <input th:field="*{url}" name="linkUrl" class="form-control mr-md-2" type="search" id="linkUrl"
                                       placeholder="Link" autocomplete="off">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="linkDesc" class="col-sm-2 col-form-label">Description: </label>
                            <div class="col-sm-1"></div>
                            <div class="col-sm-9">
                                <textarea th:field="*{description}" name="linkDesc" class="form-control mr-md-2" rows="4" id="linkDesc"
                                          placeholder="Link Description"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="topicsList" class="col-sm-2 col-form-label">Topic: </label>
                            <div class="col-sm-1"></div>
                            <div class="col-sm-9">
                                <select class="custom-select" id="topicsList" name="topicsList"
                                        th:field="*{topicId}">
                                    <option th:each="subs : ${userDTO.getSubscriptions()}"
                                            th:value="${subs.getId()}"
                                            th:text="${subs.getName()}"></option>
                                </select>
                            </div>
                        </div>
                        <div th:if="${#fields.hasErrors()}" th:classappend="'alert alert-danger'" style="padding: 2px; font-size: 14px">
                            <ul style="margin: 2px">
                                <li th:errors="*{url}"></li>
                                <li th:errors="*{description}"></li>
                                <li th:errors="*{topicId}"></li>
                            </ul>
                        </div>
                        <hr>
                        <div style="float: right">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <input type="submit" class="btn btn-primary" value="Share"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!------------------------------SHARE DOCUMENT MODAL------------------------------------>


    <div class="modal fade" id="documentModal" tabindex="-1" role="dialog" aria-labelledby="documentModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="documentModalLabel">Share Link</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form th:action="@{/resources/document/create}" action="#" th:object="${documentResourceCO}" method="post" enctype="multipart/form-data">
                        <div class="form-group row">
                            <label for="linkUrl" class="col-sm-2 col-form-label">Link: </label>
                            <div class="col-sm-1"></div>
                            <div class="col-sm-9">
                                <div class="input-group mb-3">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input form-control" th:field="*{document}" id="document" aria-describedby="inputGroupFileAddon01">
                                        <label class="custom-file-label" for="document">Choose File</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="linkDesc" class="col-sm-2 col-form-label">Description: </label>
                            <div class="col-sm-1"></div>
                            <div class="col-sm-9">
                                <textarea th:field="*{description}" name="linkDesc" class="form-control mr-md-2" rows="4" id="linkDesc"
                                          placeholder="Document Description"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="topicsList" class="col-sm-2 col-form-label">Topic: </label>
                            <div class="col-sm-1"></div>
                            <div class="col-sm-9">
                                <select class="custom-select" id="topicsList" name="topicsList"
                                        th:field="*{topicId}">
                                    <option th:each="subs : ${userDTO.getSubscriptions()}"
                                            th:value="${subs.getId()}"
                                            th:text="${subs.getName()}"></option>
                                </select>
                            </div>
                        </div>
                        <div th:if="${#fields.hasErrors()}" th:classappend="'alert alert-danger'" style="padding: 2px; font-size: 14px">
                            <ul style="margin: 2px">
                                <li th:errors="*{document}"></li>
                                <li th:errors="*{description}"></li>
                                <li th:errors="*{topicId}"></li>
                            </ul>
                        </div>
                        <hr>
                        <div style="float: right">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <input type="submit" class="btn btn-primary" value="Share"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>