/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    border-radius: 0;
}

/* Set gray background color and 100% height */
.sidenav {
    background-color: #f1f1f1;
    height: 100%;
}

#sidebar{
    padding: 0;
}
#content{
    padding-left: 0;
}

/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 15px;
    margin-top: 10px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }

    .row.content {
        height: auto;
    }
}


.card{
    margin-top: 20px;
    background: #ffffff;
    padding: 0px;
    border: 1px solid #e7e7e7;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

li.nav-item{
    margin-top: 1em;
}

#alerts{
    position: absolute;
    top: 30px;
    right: 30px;
}

a {
    text-decoration: none;
}
