<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{'/css/app.css'}">
</head>
<body>
<div th:include="~{fragments/dashboardHeaderFragment}"></div>
<div class="container-fluid">
    <div id="alerts">

    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <a th:href="@{'/users/' + ${userId} + '/profile'}">
                                <img th:if="${userDTO.getPhoto()}"
                                     th:src="${'/uploads/profile_pics/' + userDTO.getUsername() + '_' + userDTO.getPhoto()}"
                                     alt="profile-pic" width="100px" height="100px">
                                <img th:unless="${userDTO.getPhoto()}" src="images/default-person.jpg"
                                     alt="profile-picture"
                                     width="100px" height="100px">
                            </a>
                        </div>
                        <div class="col-md-8">
                            <h3 class="card-text" >
                                <a th:href="@{'/users/' + ${userId}  + '/profile'}"
                                   th:text="${userDTO.getFirstname() + ' ' + userDTO.getLastname()}"></a>
                            </h3>
                            <a class="small text-muted" th:text="${'@' + userDTO.getUsername()}"></a>
                            <div class="card-text">
                                <div class="row">
                                    <div class="col-md-6">Subscriptions</div>
                                    <div class="col-md-6">Topics</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <a href="#" th:text="${userDTO.getSubscriptions().size()}"></a>
                                    </div>
                                    <div class="col-md-6">
                                        <a href="#" th:text="${userDTO.getTopics().size()}"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    Subscriptions
                </div>
                <div class="card-body">
                    <div th:each="subs : ${userDTO.getSubscriptions()}">
                        <div class="row">
                            <div class="col-md-2">
                                <img th:if="${subs.getUser().getProfilePicturePath()}"
                                     th:src="${'/uploads/profile_pics/' + subs.getUser().getUsername() + '_' + subs.getUser().getProfilePicturePath()}"
                                     alt="profile-pic" width="40px" height="40px">
                                <img th:unless="${subs.getUser().getProfilePicturePath()}"
                                     src="images/default-person.jpg" alt="profile-picture"
                                     width="40px" height="40px">
                            </div>
                            <div class="col-md-10">
                                <div class="row">
                                    <div class="col">
                                        <a th:href="@{'/topic/' + ${subs.getId()}}" th:text="${subs.getName()}"></a>
                                    </div>
                                    <div class="col small">
                                        <a class="float-right" href="#"
                                           th:if="${subs.getUser().getId() != (#session.getAttribute('loggedInUserId'))}"
                                           th:text="'Unsubscribe'" onclick="unsubscribeTopic()" th:data-topicId="${subs.getId()}"></a>
                                        <!--<a class="float-right" href="#"-->
                                           <!--th:unless="${subs.getUser().getId() == (#session.getAttribute('loggedInUserId'))}"-->
                                           <!--th:text="'Subscribe'" onclick="subscribeTopic()" th:data-topicId="${subs.getId()}"></a>-->
                                    </div>
                                </div>
                                <div class="row small text-muted">
                                    <div class="col" th:text="${'@' + subs.getUser().getUsername()}"></div>
                                    <div class="col">Subscriptions</div>
                                    <div class="col">Posts</div>
                                </div>
                                <div class="row small text-info">
                                    <div class="col"></div>
                                    <div class="col" th:text="${subs.getSubscriptions().size()}"></div>
                                    <div class="col" th:text="${subs.getResourcesList().size()}"></div>
                                </div>

                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-4">
                                <select class="custom-select " name="seriousness">
                                    <option th:each="seriousness : ${T(com.ttn.linksharing.enums.Seriousness).values()}"
                                            th:value="${seriousness}"
                                            th:text="${seriousness.getValue()}"></option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <select class="custom-select" name="visibility">
                                    <option th:each="visibilityItr : ${T(com.ttn.linksharing.enums.Visibility).values()}"
                                            th:value="${visibilityItr}"
                                            th:text="${visibilityItr.getValue()}"></option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                                <a class="pl-2 pt-3" href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                <a class="pl-2 pt-3" href="#"><i class="fa fa-trash" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="card" th:fragment="trendingTopics">
                <div class="card-header">
                    Trending Topics
                </div>
                <div class="card-body">
                    <div th:each="topic : ${trendingTopicsDTO}">
                        <div th:fragment="topics">
                            <div class="row">
                                <div class="col-md-2">
                                    <img th:if="${topic.getUser().getProfilePicturePath()}"
                                         th:src="${'/uploads/profile_pics/' + topic.getUser().getUsername() + '_' + topic.getUser().getProfilePicturePath()}"
                                         alt="profile-pic" width="40px" height="40px">
                                    <img th:unless="${topic.getUser().getProfilePicturePath()}"
                                         src="images/default-person.jpg" alt="profile-picture"
                                         width="40px" height="40px">
                                </div>
                                <div class="col">
                                    <div class="row">
                                        <div class="col">
                                            <a th:href="@{'/topic/' + ${topic.getId()}}" th:text="${topic.getName()}"></a>
                                        </div>
                                        <div class="col">
                                            <a class="float-right" href="#"
                                               th:if="${topic.getUser().getId() == (#session.getAttribute('loggedInUserId'))}"
                                               th:text="'Unsubscribe'" ></a>
                                            <a class="float-right" href="#"
                                               th:unless="${topic.getUser().getId() == (#session.getAttribute('loggedInUserId'))}"
                                               th:text="'Subscribe'"></a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col" th:text="${'@' + topic.getUser().getUsername()}"></div>
                                        <div class="col">Subscriptions</div>
                                        <div class="col">Posts</div>
                                    </div>
                                    <div class="row justify-content-end">
                                        <div class="col"></div>
                                        <div class="col" th:text="${topic.getSubscriptions().size()}"></div>
                                        <div class="col" th:text="${topic.getResourcesList().size()}"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-md-4">
                                    <select class="custom-select " name="seriousness">
                                        <option th:each="seriousness : ${T(com.ttn.linksharing.enums.Seriousness).values()}"
                                                th:value="${seriousness}"
                                                th:text="${seriousness.getValue()}"></option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <select class="custom-select" name="visibility">
                                        <option th:each="visibilityItr : ${T(com.ttn.linksharing.enums.Visibility).values()}"
                                                th:value="${visibilityItr}"
                                                th:text="${visibilityItr.getValue()}"></option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    Inbox
                </div>
                <div class="card-body">
                    <th:block th:each="topic : ${userDTO.getSubscriptions()}">
                        <div th:each="resource : ${topic.getResourcesList()}" class="row clearfix">
                            <div class="col-md-1">
                                <a th:href="@{'/users/' + ${resource.getUser().getId()}  + '/profile'}">
                                    <img th:if="${resource.getUser().getProfilePicturePath()}"
                                         th:src="${'/uploads/profile_pics/' + resource.getUser().getUsername() + '_' + resource.getUser().getProfilePicturePath()}"
                                         alt="profile-pic" width="40px" height="40px">
                                    <img th:unless="${resource.getUser().getProfilePicturePath()}"
                                         src="images/default-person.jpg" alt="profile-picture"
                                         width="40px" height="40px">
                                </a>
                            </div>
                            <div class="col-md-11">
                                <div class="row">
                                    <div class="col-md-6">
                                        <a th:href="@{'/users/' + ${resource.getUser().getId()}  + '/profile'}"
                                           th:text="${resource.getUser().getFirstname() + ' ' + resource.getUser().getLastname()}"></a>
                                    </div>
                                    <div class="col-md-6">
                                        <a th:href="${'/topic/' + resource.getTopic().getId()}" class="float-right"
                                           th:text="${resource.getTopic().getName()}"></a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2 small text-muted">
                                        <span th:text="${'@' + resource.getUser().getUsername()}"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col" >
                                        <div class="card-body pr-0 pt-2 pb-2 pl-0" th:text="${resource.getDescription()}"></div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col">
                                        <a class="float-left pr-3" href="#"><i class="fab fa-facebook"
                                                                               aria-hidden="true"></i></a>
                                        <a class="float-left pr-3" href="#"><i class="fab fa-twitter"
                                                                               aria-hidden="true"></i></a>
                                        <a class="float-left pr-3" href="#"><i class="fab fa-google-plus-square"
                                                                               aria-hidden="true"></i></a>
                                    </div>
                                    <div class="col-md-6">
                                        <a class="float-right pl-3 small text-info" th:href="${'/topic/' + resource.getTopic() + '/post/' + resource.getId()}">
                                            <i class="fa fa-eye" aria-hidden="true"></i> View Post</a>
                                        <a class="float-right pl-3 small text-info" href="#"><i class="fa fa-envelope-open" aria-hidden="true"></i>
                                             Mark as Read</a>
                                        <a class="float-right pl-3 small text-info"
                                           th:if="${resource.getClass().getSimpleName().equals('LinkResource')}"
                                           th:href="${resource.getLinkUrl()}"
                                           target="_blank"><i class="fa fa-link" aria-hidden="true"></i> View Full site</a>
                                        <a class="float-right pl-3 small text-info"
                                           th:unless="${resource.getClass().getSimpleName().equals('LinkResource')}"
                                           th:href="${'uploads/docs/' + resource.getUser().getUsername() + '_' + resource.getDocumentPath()}"
                                           target="_blank"
                                           download><i class="fa fa-download" aria-hidden="true"></i> Download</a>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        </div>
                        <hr>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script th:src="@{/js/app.js}"></script>
</body>
</html>