<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{'/css/app.css'}">
</head>
<body>
<div th:include="~{fragments/dashboardHeaderFragment}"></div>
<div class="container-fluid" id="dashboard">
    <div class="alerts">
        <div th:replace="~{__${alertSuccess}__}" class="alert alert-success alert-dismissible fade show">

        </div>
        <div th:replace="~{__${alertFailed}__}" class="alert alert-danger alert-dismissible fade show">

        </div>
        <div th:replace="~{__${alertInfo}__}" class="alert alert-info alert-dismissible fade show">

        </div>
    </div>


    <div class="row">
        <div class="col-md-4">

            <!-----------------------------------------------User Card------------------------------------------------>

            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <a th:href="@{'/users/' + ${userId} + '/profile'}">
                                <img th:if="${userDTO.getPhoto()}"
                                     th:src="${'/uploads/profile_pics/' + userDTO.getUsername() + '_' + userDTO.getPhoto()}"
                                     alt="profile-pic" width="100px" height="100px">
                                <img th:unless="${userDTO.getPhoto()}" src="images/default-person.jpg"
                                     alt="profile-picture"
                                     width="100px" height="100px">
                            </a>
                        </div>
                        <div class="col-md-8">
                            <h3 class="card-text">
                                <a th:href="@{'/users/' + ${userId}  + '/profile'}"
                                   th:text="${userDTO.getFirstname() + ' ' + userDTO.getLastname()}"></a>
                            </h3>
                            <a class="small text-muted" th:text="${'@' + userDTO.getUsername()}"></a>
                            <div class="card-text">
                                <div class="row">
                                    <div class="col-md-6">Subscriptions</div>
                                    <div class="col-md-6">Topics</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <a href="#" th:text="${userDTO.getSubscriptions().size()}"></a>
                                    </div>
                                    <div class="col-md-6">
                                        <a href="#" th:text="${userDTO.getTopics().size()}"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-----------------------------------------------Subscriptions ------------------------------------->

            <div class="card">
                <div class="card-header">
                    Subscriptions
                </div>
                <div class="card-body">
                    <div th:each="subs : ${userDTO.getSubscriptions()}" th:with="topic = ${subs.getTopic()}">
                        <div class="row">
                            <div class="col-md-2">
                                <img th:if="${topic.getUser().getProfilePicturePath()}"
                                     th:src="${'/uploads/profile_pics/' + topic.getUser().getUsername() + '_' + topic.getUser().getProfilePicturePath()}"
                                     alt="profile-pic" width="40px" height="40px">
                                <img th:unless="${topic.getUser().getProfilePicturePath()}"
                                     src="images/default-person.jpg" alt="profile-picture"
                                     width="40px" height="40px">
                            </div>
                            <div class="col-md-10">
                                <div class="row">
                                    <div class="col-md-5">
                                        <a th:id="${'showTopicName-' + topic.getId()}"
                                           th:href="@{'/topic/' + ${topic.getId()}}"
                                           th:text="${topic.getName()}">
                                        </a>

                                        <input class="input-group" type="text" style="display: none"
                                               th:value="${topic.getName()}"
                                               th:id="${'editTopicName-' + topic.getId()}">
                                    </div>
                                    <div class="col">
                                        <a class="float-right pl-2 small" href="#"
                                           th:if="${topic.getUser().getId() != (#session.getAttribute('loggedInUserId'))}"
                                           th:text="'Unsubscribe'"
                                           th:onclick="unsubscribeTopic(this)"
                                           th:data-topicId="${topic.getId()}"></a>
                                        <a href="javascript:void(0)" >
                                            <i style="border-radius: 50%; display: none"
                                               class="fa fa-times float-right pl-2"
                                               aria-hidden="true"
                                               th:id="${'closeEditTopic-' + topic.getId()}"></i></a>
                                        <a href="javascript:void(0)" >
                                            <i th:id="${'saveEditTopic-' + topic.getId()}" style="border-radius: 50%; display: none"
                                                       class="fa fa-check float-right pl-2"
                                                       aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="row small text-muted">
                                    <div class="col" th:text="${'@' + topic.getUser().getUsername()}"></div>
                                    <div class="col">Subscriptions</div>
                                    <div class="col">Posts</div>
                                </div>
                                <div class="row small text-info">
                                    <div class="col"></div>
                                    <div class="col" th:text="${topic.getSubscriptions().size()}"></div>
                                    <div class="col" th:text="${topic.getResourcesList().size()}"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2 justify-content-end">
                            <div class="col">
                                <select class="custom-select " name="seriousness" th:id="${'topicSeriousness-' + topic.getId()}">
                                    <option th:each="seriousness : ${T(com.ttn.linksharing.enums.Seriousness).values()}"
                                            th:value="${seriousness}"
                                            th:text="${seriousness.getValue()}"
                                            th:selected="${subs.getSeriousness().getValue() == seriousness.getValue()}">
                                    </option>
                                </select>
                            </div>
                            <div class="col"
                                 th:if="${topic.getUser().getId() == userId || userDTO.getRole().equals('Admin')}">
                                <a href="#" class="badge badge-pill badge-primary"
                                   th:id="${'showTopicVisibility-' + topic.getId()}"
                                   th:text="${topic.getVisibility().getValue()}">
                                </a>
                                <div style="display: none" th:id="${'editTopicVisibility-' + topic.getId()}">
                                    <select class="custom-select" name="visibility" >
                                        <option th:each="visibilityItr : ${T(com.ttn.linksharing.enums.Visibility).values()}"
                                                th:value="${visibilityItr}"
                                                th:text="${visibilityItr.getValue()}"
                                                th:selected="${topic.getVisibility().getValue() == visibilityItr.getValue()}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col">
                                <a href="#" data-toggle="modal" data-target="#inviteModal">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                </a>
                                <a class="pl-2 pt-3"
                                   th:if="${topic.getUser().getId() == userId || userDTO.getRole().equals('Admin')}"
                                   href="#" th:data-editTopic="${'editTopic-' + topic.getId()}">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </a>
                                <a class="pl-2 pt-3"
                                   th:if="${topic.getUser().getId() == userId || userDTO.getRole().equals('Admin')}"
                                   href="#" th:id="${'deleteTopic-' + topic.getId()}">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>

            <!------------------------------------Trending Topics------------------------------------->
            <div class="card" th:fragment="trendingTopics">
                <div class="card-header">
                    Trending Topics
                </div>
                <div class="card-body">
                    <div th:each="topic : ${trendingTopicsDTO}">
                        <div th:fragment="topics">
                            <div class="row" th:with="isSubscribed = ${userDTO.getSubscriptions().contains(topic)}">
                                <div class="col-md-2">
                                    <img th:if="${topic.getUser().getProfilePicturePath()}"
                                         th:src="${'/uploads/profile_pics/' + topic.getUser().getUsername() + '_' + topic.getUser().getProfilePicturePath()}"
                                         alt="profile-pic" width="40px" height="40px">
                                    <img th:unless="${topic.getUser().getProfilePicturePath()}"
                                         src="images/default-person.jpg" alt="profile-picture"
                                         width="40px" height="40px">
                                </div>
                                <div class="col">
                                    <div class="row">
                                        <div class="col">
                                            <a class="topicName"
                                               th:href="@{'/topic/' + ${topic.getId()}}"
                                               th:text="${topic.getName()}"></a>
                                            <input class="editTopicName" type="text"
                                                   th:if="${isSubscribed}"
                                                   th:value="${topic.getName()}"
                                                   style="display: none">
                                        </div>
                                        <div class="col small text-primary">
                                            <div th:if="${topic.getUser().getId() != (#session.getAttribute('loggedInUserId'))}">
                                                <a class="float-right" href="#"
                                                   th:if="${isSubscribed}"
                                                   th:onclick="unsubscribeTopic(this)"
                                                   th:data-topicId="${topic.getId()}"
                                                   th:text="'Unsubscribe'"></a>
                                                <a class="float-right" href="#"
                                                   th:unless="${isSubscribed}"
                                                   th:onclick="subscribeTopic(this)"
                                                   th:data-topicId="${topic.getId()}"
                                                   th:text="'Subscribe'"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row small text-muted">
                                        <div class="col" th:text="${'@' + topic.getUser().getUsername()}"></div>
                                        <div class="col">Subscriptions</div>
                                        <div class="col">Posts</div>
                                    </div>
                                    <div class="row small text-info">
                                        <div class="col"></div>
                                        <div class="col" th:text="${topic.getSubscriptions().size()}"></div>
                                        <div class="col" th:text="${topic.getResourcesList().size()}"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" th:if="${userDTO.getSubscriptions().contains(topic)}">
                                <div class="col-md-4">
                                    <select class="custom-select " name="seriousness"
                                            th:with="subscription = ${userDTO.getSubscriptions().stream().filter(x -> x.getTopic().equals(topic)).findFirst().orElse(null)}">
                                        <option th:each="seriousness : ${T(com.ttn.linksharing.enums.Seriousness).values()}"
                                                th:value="${seriousness}"
                                                th:text="${seriousness.getValue()}"
                                                th:selected="${subscription.getSeriousness() == seriousness.getValue()}">

                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-4"
                                     th:if="${topic.getUser().getId() == userId || userDTO.getRole().equals('Admin')}">
                                    <select class="custom-select" name="visibility"
                                            th:onchange="updateTopic(this)">
                                        <option th:each="visibilityItr : ${T(com.ttn.linksharing.enums.Visibility).values()}"
                                                th:value="${visibilityItr}"
                                                th:text="${visibilityItr.getValue()}"
                                                th:selected="${topic.getVisibility() == visibilityItr.getValue()}">
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <a href="#">
                                        <i class="fa fa-envelope" aria-hidden="true"></i>
                                    </a>
                                    <a id="topicEdit-btn"
                                       th:if="${topic.getUser().getId() == userId || userDTO.getRole().equals('Admin')}"
                                       href="#">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </a>
                                    <a id="topicDelete-btn"
                                       th:if="${topic.getUser().getId() == userId || userDTO.getRole().equals('Admin')}"
                                       href="#">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>

        </div>

        <!------------------------------------ Inbox-------------------------------------->

        <div class="col-md-8" th:fragment="dashboardInbox">
            <div class="card">
                <div class="card-header">
                    Inbox
                </div>
                <div class="card-body">
                    <div th:each="resource : ${userDTO.getInboxResources()}">
                        <th:block th:fragment="resources">
                        <div class="row">
                            <div class="col-md-1">
                                <a th:href="@{'/users/' + ${resource.getUser().getId()}  + '/profile'}">
                                    <img th:if="${resource.getUser().getProfilePicturePath()}"
                                         th:src="${'/uploads/profile_pics/' + resource.getUser().getUsername() + '_' + resource.getUser().getProfilePicturePath()}"
                                         alt="profile-pic" width="40px" height="40px">
                                    <img th:unless="${resource.getUser().getProfilePicturePath()}"
                                         src="images/default-person.jpg" alt="profile-picture"
                                         width="40px" height="40px">
                                </a>
                            </div>
                            <div class="col-md-11">
                                <div class="row">
                                    <div class="col-md-6">
                                        <a th:href="@{'/users/' + ${resource.getUser().getId()}  + '/profile'}"
                                           th:text="${resource.getUser().getFirstname() + ' ' + resource.getUser().getLastname()}"></a>
                                    </div>
                                    <div class="col-md-6">
                                        <a th:href="${'/topic/' + resource.getTopic().getId()}"
                                           class="float-right"
                                           th:text="${resource.getTopic().getName()}"></a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2 small text-muted">
                                        <span th:text="${'@' + resource.getUser().getUsername()}"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="card-body pr-0 pt-2 pb-2 pl-0"
                                             th:text="${resource.getDescription()}"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <a class="float-left pr-3" href="#"><i class="fab fa-facebook"
                                                                               aria-hidden="true"></i></a>
                                        <a class="float-left pr-3" href="#"><i class="fab fa-twitter"
                                                                               aria-hidden="true"></i></a>
                                        <a class="float-left pr-3" href="#"><i class="fab fa-google-plus-square"
                                                                               aria-hidden="true"></i></a>
                                    </div>
                                    <div class="col-md-6">
                                        <a class="float-right pl-3 small text-info"
                                           th:href="${'/topic/' + resource.getTopic() + '/post/' + resource.getId()}">
                                            <i class="fa fa-eye" aria-hidden="true"></i> View Post</a>
                                        <a class="float-right pl-3 small text-info" href="#"><i
                                                class="fa fa-envelope-open" aria-hidden="true"></i>
                                            Mark as Read</a>
                                        <a class="float-right pl-3 small text-info"
                                           th:if="${resource.getClass().getSimpleName().equals('LinkResource')}"
                                           th:href="${resource.getLinkUrl()}"
                                           target="_blank"><i class="fa fa-link" aria-hidden="true"></i> View
                                            Full site</a>
                                        <a class="float-right pl-3 small text-info"
                                           th:unless="${resource.getClass().getSimpleName().equals('LinkResource')}"
                                           th:href="${'uploads/docs/' + resource.getUser().getUsername() + '_' + resource.getDocumentPath()}"
                                           target="_blank"
                                           download><i class="fa fa-download" aria-hidden="true"></i>
                                            Download</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th:block>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script th:src="@{/js/app.js}"></script>
</body>
</html>