<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Link Sharing - To The New</title>
    <link rel="stylesheet" href="css/homepage.css">
</head>
<body>
<div id="container">
    <header>
        <div id="header-wrapper">
            <a id="logo" href="#">
                <img src="images/icons/Link-sharing-icon.png" alt="Link Sharing">
                <h1>Link Sharing</h1>
            </a>
            <div id="search-bar">
                    <span><img class="search-icon" src="images/icons/icons8-search-26.png" alt="icon"><input type="text"
                                                                                                             placeholder="Search">
                        <img class="search-icon" src="images/icons/icons8-cancel-26.png" alt="close">
                    </span>
            </div>
            <div style="clear: both"></div>
        </div>
    </header>
    <section id="content-wrapper">
        <div id="content">
            <div id="recent-shares">
                <h3>Recent Shares</h3>
                <div>
                    Share 1
                </div>
                <div>
                    Share 2
                </div>
            </div>

            <div id="top-posts">
                <h3>Top Posts</h3>
                <select name="filter-post" id="filter-post">
                    <option value="0">Today</option>
                    <option value="1">Yesterday</option>
                    <option value="2">alkd</option>
                    <option value="3">Tsdf</option>
                    <option value="4">Tosdd</option>
                </select>
                <div>
                    Post 1
                </div>
                <div>
                    Post 2
                </div>
            </div>
        </div>
        <div id="aside">
            <div id="login-container">
                <h3>Login</h3>
                <div>
                    <label for="email">
                        Email/Username* : <input type="text" id="email">
                    </label>
                </div>
                <div>
                    <label for="password">
                        Password* : <input type="text" id="password">
                    </label>
                </div>
                <div id="login-btn">
                    <button>Login</button>
                </div>
            </div>
            <div id="register-container">
                <h3>Register</h3>
                <div>
                    <label for="reg-first-name">
                        First Name* : <input type="text" id="reg-first-name">
                    </label>
                </div>
                <div>
                    <label for="reg-last-name">
                        Last Name* : <input type="text" id="reg-last-name">
                    </label>
                </div>
                <div>
                    <label for="reg-email">
                        Email* : <input type="text" id="reg-email">
                    </label>
                </div>
                <div>
                    <label for="reg-username">
                        Username* : <input type="text" id="reg-username">
                    </label>
                </div>
                <div>
                    <label for="reg-password">
                        Password* : <input type="text" id="reg-password">
                    </label>
                </div>
                <div>
                    <label for="reg-conf-password">
                        Confirm Password* : <input type="text" id="reg-conf-password">
                    </label>
                </div>
                <div>
                    <label for="reg-photo">
                        Photo : <input type="file" id="reg-photo">
                    </label>
                </div>
                <div id="register-btn">
                    <button>Register</button>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div>Copyright &copy; To The New, 2019.</div>
    </footer>
</div>


</body>
</html>