<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search - Linksharing</title>
    <style>
        .card-left-img {
            border-radius: 50%;
        }

        div.card {
            margin-top: 20px;
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div th:include="~{fragments/dashboardHeaderFragment}"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="card" th:include="dashboard ::trendingTopics"}>

            </div>

            <!-------------------------------------------Top Posts--------------------------------------------------->

            <div class="card" th:fragment="topPosts">
                <div class="card-header">
                    Top Posts
                </div>
                <div class="card-body">
                    <div th:each="resource : ${topPostsDTO}" class="row">
                        <div class="col-md-2">
                            <a th:href="@{'/users/' + ${resource.getUser().getId()}  + '/profile'}">
                                <img th:if="${resource.getUser().getProfilePicturePath()}"
                                     th:src="${'/uploads/profile_pics/' + resource.getUser().getUsername() + '_' + resource.getUser().getProfilePicturePath()}"
                                     alt="profile-pic" width="40px" height="40px">
                                <img th:unless="${resource.getUser().getProfilePicturePath()}"
                                     src="images/default-person.jpg" alt="profile-picture"
                                     width="40px" height="40px">
                            </a>
                        </div>
                        <div class="col-md-10">
                            <div class="row">
                                <div class="col-md-6">
                                    <a th:href="@{'/users/' + ${resource.getUser().getId()}  + '/profile'}"
                                       th:text="${resource.getUser().getFirstname() + ' ' + resource.getUser().getLastname()}"></a>
                                </div>
                                <div class="col-md-6">
                                    <a th:href="${'/topic/' + resource.getTopic().getId()}" class="float-right"
                                       th:text="${resource.getTopic().getName()}"></a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 small text-muted">
                                    <span th:text="${'@' + resource.getUser().getUsername()}"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="card-body pr-0 pt-2 pb-2 pl-0 text-truncate"
                                         th:text="${resource.getDescription()}"></div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-md-3">
                                    <a class="float-left" href="#"><i class="fab fa-facebook"
                                                                      aria-hidden="true"></i></a>
                                    <a class="float-left" href="#"><i class="fab fa-twitter"
                                                                      aria-hidden="true"></i></a>
                                    <a class="float-left" href="#"><i class="fab fa-google-plus-square"
                                                                      aria-hidden="true"></i></a>
                                </div>
                                <div class="col-md-9">
                                    <a class="float-right pl-1 small text-info"
                                       th:href="${'/topic/' + resource.getTopic() + '/post/' + resource.getId()}">
                                        <i class="fa fa-eye" aria-hidden="true"></i> View</a>
                                    <a class="float-right pl-1 small text-info" href="#"><i
                                            class="fa fa-envelope-open" aria-hidden="true"></i>
                                        Mark Read</a>
                                    <a class="float-right pl-1 small text-info"
                                       th:if="${resource.getClass().getSimpleName().equals('LinkResource')}"
                                       th:href="${resource.getLinkUrl()}"
                                       target="_blank"><i class="fa fa-link" aria-hidden="true"></i>Visit link</a>
                                    <a class="float-right pl-1 small text-info"
                                       th:unless="${resource.getClass().getSimpleName().equals('LinkResource')}"
                                       th:href="${'uploads/docs/' + resource.getUser().getUsername() + '_' + resource.getDocumentPath()}"
                                       target="_blank"
                                       download><i class="fa fa-download" aria-hidden="true"></i> Download</a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-8">

            <!-------------------------------------------Searched Topics--------------------------------------------------->

            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header" th:text="${'Topics matched with: ' + query}">
                        </div>
                        <div class="card-body">
                            <div class="row" th:each="topic : ${searchedTopics}">
                                <div class="col">
                                    <div th:replace="~{dashboard :: topics}">
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-------------------------------------------Searched Posts--------------------------------------------------->

            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header" th:text="${'Posts matched with: ' + query}">
                        </div>
                        <div class="card-body">
                            <div class="row" th:each="resource : ${searchedResources}">
                                <div class="col">
                                    <div th:replace="~{topic :: posts}">

                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-------------------------------------------Searched Users-------------------------------------------------->

            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header" th:text="${'Users matched with: ' + query}">

                        </div>
                        <div class="card-body">
                            <div class="row" th:each="user : ${searchedUsers}">
                                <div class="col">
                                    <div th:replace="~{topic :: users}">

                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>