<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Topic - Linksharing</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{'/css/app.css'}">
</head>
<body>
<div th:include="~{fragments/dashboardHeaderFragment}"></div>
<div class="container-fluid">
    <div class="row" th:with="topic = ${topicDTO.getTopic()}">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header" th:text="${'Topic: ' + topic.getName()}"></div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img th:if="${topic.getUser().getProfilePicturePath()}"
                                 th:src="${'/uploads/profile_pics/' + topic.getUser().getUsername() + '_' + topic.getUser().getProfilePicturePath()}"
                                 alt="profile-pic" width="100px" height="100px">
                            <img th:unless="${topic.getUser().getProfilePicturePath()}" src="images/default-person.jpg"
                                 alt="profile-picture"
                                 width="100px" height="100px">
                        </div>
                        <div class="col">
                            <div class="card-title">
                                <p>
                                    <a class="float-left mr-3" th:href="@{'/topic/' + ${topic.getId()}}"
                                       th:text="${topic.getName()}"></a>
                                    <a class="float-right small text-info" href="#"
                                       th:if="${topic.getUser().getId() == (#session.getAttribute('loggedInUserId'))}"
                                       th:text="'Unsubscribe'"></a>
                                    <a class="float-right small text-info" href="#"
                                       th:unless="${topic.getUser().getId() == (#session.getAttribute('loggedInUserId'))}"
                                       th:text="'Subscribe'"></a>
                                    <br>
                                    <a class="small text-muted" th:text="${'@' + topic.getUser().getUsername()}"></a>

                                </p>
                            </div>
                            <div class="card-text">
                                <div class="row">
                                    <div class="col small text-muted">Subsciptions</div>
                                    <div class="col small text-muted">Post</div>
                                </div>
                                <div class="row">
                                    <div class="col small text-info">
                                        <a th:text="${topic.getSubscriptions().size()}"></a>
                                    </div>
                                    <div class="col small text-info">
                                        <a th:text="${topic.getResourcesList().size()}"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-end">
                                <div class="col">
                                    <select class="custom-select " name="seriousness" th:id="${'topicSeriousness-' + topic.getId()}">
                                        <option th:each="seriousness : ${T(com.ttn.linksharing.enums.Seriousness).values()}"
                                                th:value="${seriousness}"
                                                th:text="${seriousness.getValue()}"
                                                th:selected="${topicDTO.getSubscription().getSeriousness() == seriousness}">
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <a href="#" data-toggle="modal" data-target="#inviteModal">
                                        <i class="fa fa-envelope" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <a th:text="${'Users: ' + topic.getName()}"></a>
                </div>
                <div class="card-body">
                    <th:block th:each="subscription : ${topic.getSubscriptions()}"
                              th:with="user = ${subscription.getUser()}">
                        <div th:fragment="users">
                            <div class="row">
                                <div class="col-md-2">
                                    <a th:href="${'/users/' + user.getId() + '/profile'}">
                                        <img th:if="${user.getProfilePicturePath()}"
                                             th:src="${'/uploads/profile_pics/' + user.getUsername() + '_' + user.getProfilePicturePath()}"
                                             alt="profile-pic" width="40px" height="40px">
                                        <img th:unless="${user.getProfilePicturePath()}" src="images/default-person.jpg"
                                             alt="profile-picture"
                                             width="40px" height="40px">
                                    </a>
                                </div>
                                <div class="col">
                                    <div class="card-title">
                                        <a th:href="${'/users/' + user.getId() + '/profile'}" th:text="${user.getFirstname() + ' ' + user.getLastname()}"></a>
                                        <a class="small text-muted" th:text="${'@' + user.getUsername()}"></a>
                                    </div>
                                    <div class="card-text">
                                        <div class="row">
                                            <div class="col small text-muted">Subscriptions</div>
                                            <div class="col small text-muted">Topics</div>
                                        </div>
                                        <div class="row">
                                            <div class="col small text-info">
                                                <a href="#" th:text="${user.getSubscriptions().size()}"></a>
                                            </div>
                                            <div class="col small text-info">
                                                <a href="#" th:text="${user.getTopics().size()}"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </th:block>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <a th:text="${'Posts: ' + topic.getName()}"></a>
                </div>
                <div class="card-body">
                    <div class="row" th:each="resource : ${topic.getResourcesList()}">
                        <div class="col">
                            <div th:replace="~{dashboard::resources}"></div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script th:src="@{/js/app.js}"></script>
</body>
</html>