<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .card-body{
            padding: 0;
        }
        .card{
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div th:include="~{fragments/dashboardHeaderFragment}"></div>
<div class="container">
        <div class="card">
            <div class="card-header">
                Users
            </div>
            <div class="card-body">
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Username</th>
                        <th scope="col">Email</th>
                        <th scope="col">Firstname</th>
                        <th scope="col">Lastname</th>
                        <th scope="col">Active</th>
                        <th scope="col">Manage</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="user,i :${usersList}">
                        <tr>
                            <th scope="row" th:text="${i.index + 1}"></th>
                            <td th:text="${user.getUsername()}"></td>
                            <td th:text="${user.getEmail()}"></td>
                            <td th:text="${user.getFirstname()}"></td>
                            <td th:text="${user.getLastname()}"></td>
                            <td th:text="${user.getActive()}"></td>
                            <td>
                                <a th:if="${user.getActive()}" href="#">Deactivate</a>
                                <a th:unless="${user.getActive()}" href="#">Activate</a>
                            </td>
                        </tr>
                    </th:block>

                    <!--<tr>-->
                        <!--<th scope="row">2</th>-->
                        <!--<td>Jacob</td>-->
                        <!--<td>Thornton</td>-->
                        <!--<td>@fat</td>-->
                        <!--<td>ldsf</td>-->
                        <!--<td>no</td>-->
                        <!--<td><a href="#">Deactivate</a></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<th scope="row">3</th>-->
                        <!--<td>Larry</td>-->
                        <!--<td>the Bird</td>-->
                        <!--<td>@twitter</td>-->
                    <!--</tr>-->
                    </tbody>
                </table>
            </div>
        </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>