<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Link Sharing - To The New</title>
    <link rel="stylesheet" href="css/user_home.css">
</head>
<body>
<div id="container">
    <header>
        <div id="header-wrapper">
            <a id="logo" href="#">
                <img src="images/icons/Link-sharing-icon.png" alt="Link Sharing">
                <h1>Link Sharing</h1>
            </a>
            <div id="nav">
                <ul>
                    <li class="nav-icons">
                        <div id="search-bar">
                            <img class="search-icon" src="images/icons/icons8-search-26.png" alt="icon">
                            <input type="text" placeholder="Search">
                            <img class="search-icon" src="images/icons/icons8-cancel-26.png" alt="close">
                        </div>
                    </li>
                    <li class="nav-icons"><a href="#"><img src="images/icons/icons8-topic-50.png" alt="create-topic"></a></li>
                    <li class="nav-icons"><a href="#"><img src="images/icons/icons8-link-30.png" alt="send-invite"></a></li>
                    <li class="nav-icons"><a href="#"><img src="images/icons/icons8-add-link-26.png" alt="create-resource"></a></li>
                    <li class="nav-icons"><a href="#"><img src="images/icons/icons8-add-file-26.png" alt="add-docs"></a></li>
                    <li class="nav-icons">
                        <div name="user-dropdown" id="user-drop">
                            <a href="#">
                                <img src="images/icons/icons8-male-user-30.png" alt="add-docs">
                                <select name="user-dropdown" id="user-dropdown" hidden>
                                    <option value="profile">Profile</option>
                                    <option value="users">Users</option>
                                    <option value="topics">Topics</option>
                                    <option value="posts">Posts</option>
                                    <option value="logout">Logout</option>
                                </select>
                            </a>
                            <div class="dropdown-options" hidden>

                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div style="clear: both"></div>
        </div>
    </header>
    <section id="content-wrapper">
        <div id="section1">
            <div id="user-info" class="box">
                <div class="box-content">
                    User
                </div>
            </div>
            <div id="subs" class="box">
                <h3 class="box-header">Subscription</h3>
                <div class="box-content">
                    post 1
                </div>
            </div>
            <div id="trending" class="box">
                <h3 class="box-header">Trending</h3>
                <div class="box-content">
                    Post 1
                </div>
            </div>
            <div id="send-invite" class="box">
                <h3 class="box-header">Send Invitation</h3>
                <div class="box-content">
                    <div>
                        Email: <input type="text">
                    </div>
                    <div>
                        Topic: <input type="text">
                    </div>
                </div>
                <div class="box-footer">
                    <button class="btn">Invite</button>
                    <button class="btn">Cancel</button>
                </div>
            </div>
        </div>
        <div id="section2">
            <div id="inbox" class="box">
                <h3 class="box-header">Inbox</h3>
            </div>
            <div id="share-link-popup" class="box">
                <h3 class="box-header">Share Link</h3>
            </div>
            <div id="share-docs-popup" class="box">
                <h3 class="box-header">Share Documents</h3>
            </div>
            <div id="create-topic-popup" class="box">
                <h3 class="box-header">Create Topic</h3>

            </div>
        </div>
    </section>
    <footer>
        <div>Copyright &copy; To The New, 2019.</div>
    </footer>
</div>


</body>
</html>